<!--  section  Experience -->
<section class="experience">
    <div class="container">
        <div class="experience-container-text">
            <h2 class="experience-heading">Coffee Moments</h2>
            <p class="experience-text">Experience the warmth and community of CoffeeJoy.</p>
        </div>

        <ul class="experience-list">
            <li class="experience-item">
                <img src="/img/experience/coffee1-min.jpg" alt="coffee1"
                    srcset="/img/experience/coffee1-min.jpg 1x, /img/experience/coffee1@2x-min.jpg 2x" width="416">
            </li>
            <li class="experience-item">
                <img src="/img/experience/coffee2-min.jpg" alt="coffee2"
                    srcset="/img/experience/coffee2-min.jpg 1x, /img/experience/coffee2@2x-min.jpg 2x" width="416">
            </li>
            <li class="experience-item">
                <img src="/img/experience/coffee3-min.jpg" alt="coffee3"
                    srcset="/img/experience/coffee3-min.jpg 1x, /img/experience/coffee3@2x-min.jpg 2x" width="416">
            </li>
            <li class="experience-item">
                <img src="/img/experience/coffee4-min.jpg" alt="coffee4"
                    srcset="/img/experience/coffee4-min.jpg 1x, /img/experience/coffee4@2x-min.jpg 2x" width="416">
            </li>
            <li class="experience-item">
                <img src="/img/experience/coffee5-min.jpg" alt="coffee5"
                    srcset="/img/experience/coffee5-min.jpg 1x, /img/experience/coffee5@2x-min.jpg 2x" width="416">
            </li>
            <li class="experience-item">
                <img src="/img/experience/coffee6-min.jpg" alt="coffee6"
                    srcset="/img/experience/coffee6-min.jpg 1x, /img/experience/coffee6@2x-min.jpg 2x" width="416">
            </li>
            <li class="experience-item">
                <picture>
                    <source media="(min-width: 1440px)"
                        srcset="/img/experience/coffee7desk-min.jpg 1x, /img/experience/coffee7desk@2x-min.jpg 2x"
                        width="416">
                    <source media="(min-width: 768px)"
                        srcset="/img/experience/coffee7tab-min.jpg 1x, /img/experience/coffee7tab@2x-min.jpg 2x"
                        width="704">
                    <img src="/img/experience/coffee7desk-min.jpg"
                        srcset="/img/experience/coffee7mob-min.jpg 1x, /img/experience/coffee7mob@2x-min.jpg 2x"
                        width="416"  alt="coffee">
                </picture>
            </li>
        </ul>
    </div>
</section>