<header>
  <div class="container header-container">
    <a href="/index.html" class="header-logo"
      ><svg class="" width="64" height="36">
        <use href="/img/image.svg#icon-coffee-logo"></use>
      </svg>
    </a>
    <nav>
      <ul class="header-nav-list">
        <li>
          <a href="#about" class="header-nav-list-item underline">About us</a>
        </li>
        <li>
          <a href="#benefits" class="header-nav-list-item underline"
            >Benefits</a
          >
        </li>
        <li>
          <a href="#gallery" class="header-nav-list-item underline">Gallery</a>
        </li>
        <li>
          <a href="#testimonial" class="header-nav-list-item underline"
            >Testimonial</a
          >
        </li>
        <li>
          <a href="#location" class="header-nav-list-item underline"
            >Location</a
          >
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="burger-btn"
      aria-label="open menu"
      data-menu-open
    >
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/image.svg#icon-burger-btn"></use>
      </svg>
    </button>
  </div>
</header>
