<div class="mobile-menu" data-menu>
    <div class="container mobile-menu-container">
        <a href="index.html" class="mobile-menu-logo-link" aria-label="company-logo">
            <svg class="mobile-menu-logo"  width="64" height="36">
                <use href="/img/logo/logo-1.svg#icon-logo"></use>
            </svg>
        </a>
        <button class="mobile-menu-btn" type="button" aria-label="close-button" data-menu-close>
            <svg class="mobile-menu-icon" width="24" height="24">
                <use href="/img/image.svg#icon-close"></use>
            </svg>
        </button>
            <nav class="mobile-menu-list-container">
                <ul class="mobile-menu-list">
                    <li class="mobile-menu-item">
                        <a href="#about" class="mobile-menu-link">About us</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#benefits" class="mobile-menu-link">Benefits</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#gallery" class="mobile-menu-link">Gallery</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#testimonial" class="mobile-menu-link">Testimonial</a>
                    </li>
                    <li class="mobile-menu-item">
                        <a href="#location" class="mobile-menu-link">Location</a>
                    </li>
                </ul>
            </nav>
    </div>
</div>