<!-- modal-subscription -->
<section class="modal-subscription">
  <div class="modal-container container">
    <svg class="modal-icon-close" width="32" height="32">
      <use href="/img/image.svg#icon-close"></use>
    </svg>
    <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>
    <p class="modal-text">
      Fresh brews, special offers, and cozy updates are coming your way.
    </p>
    <picture>
      <source
        srcset="
          /img/modal/cup-croissant2@-min.jpg 1x,
          /img/modal/cup-croissant2@-min.jpg 2x
        "
      />
      <img
        src="/img/modal/cup-croissant-min.jpg"
        alt="cup-croissant"
        class="modal-image"
      />
    </picture>

    <button class="modal-btn">Close</button>
  </div>
 
