<!-- Success subscription -->
<section class="success-subscription">
  <div class="subscription-container container">
    <svg class="subscription-icon-close" width="32" height="32">
      <use href="../img/image.svg#icon-close"></use>
    </svg>
    <h2 class="subscription-title">Welcome to the world of CoffeeJoy!</h2>
    <p class="subscription-text">
      Fresh brews, special offers, and cozy updates are coming your way.
    </p>
    <picture>
      <source
        srcset="
          ../img/subscribe/cup-croissant2@-min.jpg 1x,
          ../img/subscribe/cup-croissant2@-min.jpg 2x
        " />
      <img
        src="../img/subscribe/cup-croissant-min.jpg"
        alt="cup-croissant"
        class="subscription-image"
    /></picture>

    <button class="subscription-btn">Close</button>
  </div>
</section>
