<section id="benefits" class="benefits-section">
  <div class="container child">
    <div class="benefits-intro">
      <p class="benefits-section-name">Quality</p>
      <h2 class="benefits-section-title">
        Why CoffeeJoy Stands Out from the Rest
      </h2>
      <p class="benefits-descr">
        At CoffeeJoy, we pride ourselves on delivering the freshest roasted
        coffee, crafted with care by our skilled baristas. Our flexible
        subscription plans ensure that your coffee experience is tailored to
        your needs.
      </p>
    </div>
    <div class="benefits-cards">
      <ul class="benefits-list">
        <!-- Card 1 -->
        <li class="benefits-item">
          <article class="benefits-card">
            <picture class="benefits-media">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/quality/Quality-desk-1-min.jpg,
                  /img/quality/Quality-desk-1@2x-min.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/quality/Quality-tab-1-min.jpg,
                  /img/quality/Quality-tab-1@2x-min.jpg 2x
                "
              />
              <img
                src="/img/quality/Quality-mob-1-min.jpg"
                srcset="/img/quality/Quality-mob-1@2x-min.jpg 2x"
                alt="Freshly roasted coffee beans"
                width="288"
                height="164"
              />
            </picture>
            <h3 class="benefits-item-title">
              Fresh-Roasted Coffee for Every Taste
            </h3>
            <p class="benefits-item-descr">
              Savor the rich flavors of our expertly sourced beans.
            </p>
          </article>
        </li>
        <!-- Card 2 -->
        <li class="benefits-item">
          <article class="benefits-card">
            <picture class="benefits-media">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/quality/Quality-desk-2-min.jpg,
                  /img/quality/Quality-desk-2@2x-min.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/quality/Quality-tab-2-min.jpg,
                  /img/quality/Quality-tab-2@2x-min.jpg 2x
                "
              />
              <img
                src="/img/quality/Quality-mob-2-min.jpg"
                srcset="/img/quality/Quality-mob-2@2x-min.jpg 2x"
                alt="Barista pouring coffee into a cup"
                width="288"
                height="164"
              />
            </picture>
            <h3 class="benefits-item-title">
              Expert Baristas Crafting Your Perfect Brew
            </h3>
            <p class="benefits-item-descr">
              Our baristas are passionate about coffee and skilled in their
              craft.
            </p>
          </article>
        </li>
        <!-- Card 3 -->
        <li class="benefits-item">
          <article class="benefits-card">
            <picture class="benefits-media">
              <source
                media="(min-width: 1440px)"
                srcset="
                  /img/quality/Quality-desk-3-min.jpg,
                  /img/quality/Quality-desk-3@2x-min.jpg 2x
                "
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  /img/quality/Quality-tab-3-min.jpg,
                  /img/quality/Quality-tab-3@2x-min.jpg 2x
                "
              />
              <img
                src="/img/quality/Quality-mob-3-min.jpg"
                srcset="/img/quality/Quality-mob-3@2x-min.jpg 2x"
                alt="Seating area inside the cafe"
                width="288"
                height="164"
              />
            </picture>
            <h3 class="benefits-item-title">Cozy Atmosphere</h3>
            <p class="benefits-item-descr">
              We don’t just serve coffee — we create a warm and welcoming space
              where every cup feels like home.
            </p>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
