<!--subscribe-->
<section class="subscribe-section">
  <div class="container subscribe-container">
    <div class="subscribe-container-desk">
      <h2 class="subscribe-title">Join Our Coffee Community</h2>
      <p class="subscribe-text">
        Experience the joy of coffee delivered right to your door. Sign up
        today!
      </p>
      <form class="subscribe-form">
        <label class="subscribe-label" for="user-email">
          <input
            class="subscribe-email"
            type="email"
            id="user-email"
            name="email"
            placeholder="Your Email Here"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <span class="subscribe-valid">Succes!</span>
          <span class="subscribe-invalid">Invalid email, try again</span>
        </label>
        <button class="subscribe-button" type="submit">
          Subscribe
          <svg class="icon-chevron" width="24" height="24">
            <use href="/img/image.svg#icon-double-right"></use>
          </svg>
        </button>
      </form>
      <p class="subscribe-text-click">
        By clicking Get Started, you agree to our Terms and Conditions.
      </p>
    </div>
    <picture class="subscribe-picture">
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/subscribe/subscribe-desk-min.jpg    1x,
          /img/subscribe/subscribe-desk@2x-min.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          /img/subscribe/subscribe-tab-min.jpg    1x,
          /img/subscribe/subscribe-tab@2x-min.jpg 2x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          /img/subscribe/subscribe-mob-min.jpg    1x,
          /img/subscribe/subscribe-mob@2x-min.jpg 2x
        "
      />
      <img
        class="subscribe-img"
        src="/img/subscribe/subscribe-desk-min.jpg"
        alt="Coffee Community"
      />
    </picture>
  </div>
</section>
