 /* Experience */
 img {
     display: block;
     max-width: 100%;
     height: auto;
     border-radius: 32px;
 }
.experience{
    padding: 64px 16px;
}
.experience-container-text{
    margin: auto;
}
 .experience-heading {
     font-family: "Aboreto", sans-serif;
     font-weight: 400;
     font-size: 36px;
     line-height: 1.2;
     letter-spacing: -0.01em;
     text-align: center;
     color: #0b0803;
     max-width: 288px;
     margin-bottom: 24px;

 }

 .experience-text {
     font-family: "Quicksand", sans-serif;
     font-weight: 400;
     font-size: 18px;
     line-height: 1.5;
     text-align: center;
     color: #0b0803;
     max-width: 288px;
     margin-bottom: 32px;
 }

 .experience-list {
     display: flex;
     gap: 24px;
     flex-wrap: wrap;
 }

 .experience-item {
     min-width: 200px;

 }

 @media screen and (min-width: 768px) {
     .experience-heading {
         max-width: 768px;
     }

     .experience-text {
         max-width: 768px;
     }

     .experience-list {
         gap: 32px;
     

     }
         .experience-item {
        
         }
 }

 @media screen and (min-width: 1440px) {
     .experience-list {
         
         flex-direction: column;
        
         max-width: 1312px;
         max-height: 948px;
     }
 .experience-heading {
    font-size: 48px;
 }
          .experience-item {
              width: calc(100% - 64px)/3;
          }
 }