.hero {
    max-width: 375px;
    margin: auto;
    padding-top: 108.5px;
    padding-bottom: 108.5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/hero/hero-mobile.jpg');
}

@media (min-resolution: 192dpi) {
    .hero {
        background-image: url('../img/hero/hero-mobile@2x.jpg');
    }
}

.hero-container {
    padding-left: 32px;
}

.hero-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fff;
    text-transform: uppercase;
    max-width: 256px;
    margin-bottom: 24px;
}

.hero-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 32px;
}

.hero-link{
   background-color: #7D533E;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 100px;
    width: 135px;
    height: 44px;
    align-items: center;
    border: none;
    padding: 10px 24px;
    color: #fff;
    box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.22),  
    inset 0 -2px 4px rgba(0, 0, 0, 0.18),
    inset 0 2px 4px rgba(255, 255, 255, 0.32);
    display: block;     
 }



.hero-link:hover {
    opacity: 0.5;
}

.hero-link:focus {
    box-shadow: none;
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding-top: 311.5px;
        padding-bottom: 311.5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../img/hero/hero-tablet.jpg');
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background-image: url('../img/hero/hero-tablet@2x.jpg');
        }
    }

    .hero-container {
        padding-left: 32px;
    }

    .hero-title {
        max-width: 560px;
    }

    .hero-text {
        max-width: 560px;
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        max-width: 1440px;
        padding-top: 259px;
        padding-bottom: 259px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: url('../img/hero/hero-desk.jpg');
    }

    @media (min-resolution: 192dpi) {
        .hero {
            background-image: url('../img/hero/hero-desk@2x.jpg');
        }
    }

    .hero-container {
        padding-left: 64px;
    }

    .hero-title {
        font-size: 56px;
    }
}