.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 375px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    outline: none;
    background-color: #e0cbb4;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    padding: 18px 16px 0 16px;
    transform: translate(0%, 0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 320px;
}

.mobile-menu:not(.is-open) .mobile-menu-container {
    transform: translate(100%, 0%);
}

.mobile-menu-logo-link {
    margin-bottom: 18px;
    display: block;
    width: 84px;
    height: 36px;
}

.mobile-menu-logo{
    fill: #0b0803;
}

.mobile-menu-btn {
    position: fixed;
    top: 12px;
    right: 16px;
    background-color: transparent;
    border: transparent;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-icon {
    fill: #0b0803;
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.mobile-menu-link {
    line-height: 1.5;
}