/* modal-subscription */
.modal-subscription {
  padding: 64px 0px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-subscription.subscription-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.modal-container {
  position: relative;
  border-radius: 40px;
  padding: 64px 16px;
  max-width: 375px;
  width: 100%;
  height: auto;
  background-color: #e0cbb4;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.modal-icon-close {
  position: absolute;
  top: 24px;
  right: 24px;
  fill: #0b0803;
}
.modal-title {
  font-family: 'Aboreto', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #0b0803;
  margin-bottom: 16px;
  text-transform: uppercase;
  width: 100%;
  max-width: 256px;
}
.modal-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #0b0803;
  width: 100%;
  max-width: 256px;
  margin-bottom: 24px;
}
.modal-image {
  border-radius: 24px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.modal-btn {
  margin-top: 24px;
  border-radius: 100px;
  padding: 10px 24px;
  width: 256px;
  height: 44px;
  box-shadow: 0 1px 2px 0 rgba(11, 8, 3, 0.05),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(11, 8, 3, 0.15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
  background-color: #6f4e37;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  border: none;
}
@media (min-width: 768px) {
  .modal-container {
    padding: 64px;
    max-width: 704px;
  }

  .modal-title {
    font-size: 36px;
    max-width: 502px;
    margin-bottom: 16px;
  }
  .modal-text {
    margin-bottom: 48px;
    max-width: 576px;
  }

  .modal-image {
    border-radius: 40px;
    max-width: 644px;
    margin-bottom: 48px;
  }
  .modal-btn {
    width: 340px;
  }
}
@media (min-width: 1440px) {
  .modal-container {
    max-width: 856px;
  }
  .modal-icon-close {
    right: 73px;
  }
  .modal-title {
    font-size: 48px;
    max-width: 738px;
  }
  .modal-text {
    max-width: 738px;
  }

  .modal-btn {
    width: 274px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-btn:hover,
  .modal-btn:focus {
    opacity: 0.5;
  }
}
